{% extends "base.html" %}

{% block content %}

<h2>글 상세 페이지</h2>

<hr>

    <h3>{{ good.title }}</h3>
    {% if good.image %}
        <img src="{{ good.image.url }}">
    {% endif %}
    
    <p>{{ good.content }}</p>

    <p>작성자 : {{ good.author }}</p>
    <p>작성일시 : {{ good.created_at }}</p>
    <p>수정일시 : {{ good.updated_at }}</p>
    
    <hr>

    <a href="{% url 'boards:boards' %}">목록으로 돌아가기</a><br><br>

    <form action="{% url "boards:like" good.id %}" method="POST">

        {% csrf_token %}
        {% if request.user in good.like_users.all %}
            <input type="submit" value="찜하기 해제">
        {% else %}
            <input type="submit" value="찜하기">
        {% endif %}
        
    </form>

    {% if good.author == request.user %}
        <a href="{% url 'boards:update' good.id %}"><button>수정하기</button></a>
        <form action="{% url 'boards:delete' good.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제하기">
        </form>
    {% endif %}

{% endblock content %}