{% extends 'base.html' %}

{% block content %}
    <h2> {{ member.username }}의 프로필 페이지 </h2>
    <p> 이름 : {{ member.username }}</p>
    <p> 가입일자 : {{ member.date_joined }}</p>

    {% if request.user != member %}
    
        <form action="{% url "users:follow" member.id %}" method="POST">
            {% csrf_token %}

            {% if request.user in member.followers.all %}
                <input type="submit" value="언팔로우">    
            {% else %}
                <input type="submit" value="팔로우">
            {% endif %}

        </form>

    {% endif %}

    <p>팔로잉 수: {{ member.followings.all | length }}명</p>
    <p>팔로워 수: {{ member.followers.all | length }}명</p>
    
    <hr>
    <p>{{ member.username }}님이 찜한 상품</p>

    <ul>
        {% for good in member.like_goods.all %}
            <li>{{ good }}</li>
        {% endfor %}
    </ul>

    <a href="{% url "mainpages" %}">홈으로 돌아가기</a>


{% endblock content %}